:root {
  --accent: #9753e1;
  --black: #000;
  --white: #fbf8f8;
  --bubble-border: .15em solid var(--accent);
}

*, *::before, *::afer {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  display: none;
}

/*
 * Conversation Layout
 */

._container {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: .25em .5em;
}

._container--conversation {
  height: calc(100vh - 5.5em);
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

/*
 * Bubble Component
 */

.bubble {
  border-color: var(--accent);
  padding: .25em .5em;
  margin: 1em .5em;
}

.bubble[from='watson'] {
  text-align: left;
  border-left: var(--bubble-border);
}

.bubble[from='user'] {
  text-align: right;
  border-right: var(--bubble-border);
}

/*
 * Input Component 
 */
.input {
  margin-top: 2em;
  overflow: hidden;
  display: flex;
}

.input--text {
  display: block;
  background: none;
  border: none;
  border-bottom: var(--bubble-border);
  font-size: 1em;
  width: calc(100% - 2rem);
  margin-right: 2rem;
  padding: .25rem .5rem;
  color: var(--white);
}

.input--text:active,
.input--text:focus {
  border-color: var(--white);
  outline: none;
}

.input--submit {
  display: block;
  background: none;
  color: var(--white);
  border: 2px solid var(--white);
  font-size: 1em;
  padding: .5rem 3rem;
}